{% extends 'base/base.html' %}

{% block body %}

<title>Create Blog Post</title>
<style>

    form {
        max-width: 400px;
        margin: 10rem auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    label {
        display: block;
        margin-bottom: 8px;
    }

    input,
    textarea,
    button {
        width: 100%;
        padding: 10px;
        margin-bottom: 16px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    button {
        background-color: #4caf50;
        color: #fff;
        cursor: pointer;
    }

    button:hover {
        background-color: #45a049;
    }
</style>

<section>
    <h2>Create Blog Post</h2>

    <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}

        <label for="categories">Categories:</label>
        <input type="text" id="categories" name="categories" required><br>

        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required><br>

        <label for="description">Description:</label>
        <textarea id="description" name="description" rows="4" required></textarea><br>

        <label for="writer">Writer:</label>
        <input type="text" id="writer" name="writer" required><br>

        <label for="image">Image:</label>
        <input type="file" id="image" name="image" accept="image/*" required><br>

        <label for="image">Banner Image:</label>
        <input type="file" id="bimage" name="bimage" accept="image/*" required><br>

        <button type="submit">Submit</button>
    </form>
</section>

{% endblock %}